# Bootstrap
app/bootstrap*

#Tests directories
src/Test/*
app/packs/test.php

# Silex directories
vendor/*
*/logs/*.log
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/local.json

# Ide files
*.idea

# SO files
.DS_Store

# Composer files
composer.lock