# Bootstrap
app/bootstrap*

# Silex directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/local.json

# Ide files
*.idea

# SO files
.DS_Store

# Composer files
composer.lock